server: 
  port: 8082

spring:
  h2: 
    console:
      enabled: true
      path: /h2-console
  datasource: 
    url: jdbc:h2:mem:querydb
    username: sa
    password: 
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
axon:
  eventhandling:
    processors:
      amqpEvents: 
        source:  myQueueMessageSource
        mode: subscribing
        